# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.v/

# Testing
.pytest_cache/

# VS Code
.vscode/

# Logs
*.log

# Database
*.db
*.sqlite3

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db